h1 {
	font-family: impact;
	font-weight: bold;
	color: black;
	font-size: 200px;
}

body {
	background-color: #ED2D83
}

.myphoto {
	width: 100%;
}


p {
	font-size: 50px;
	font-family: impact;
}

.row {
	margin-bottom: 40px;
}

.stili2 {
	width: 100%;
}