h1 {
	font-family: impact;
}

h1 {
	font-weight: bold;
}

h1 {
	color: black;
}

h1 {
	font-size: 200px;
}

body {
	background-color: #ED2D83
}

.myphoto {
	width: 100%;
}

.first-row {
	height: 100vh;
}

p {
	font-size: 50px;
}

p {
	font-family: impact;
}